* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 6px;
    user-select: none;
    opacity: 0.1;
}

/* Positioning the "next button" to the right */
.next {
    right: 0;
    border: radius 6px;
    background-color: rgb(40, 125, 165);
}

.prev {
    background-color: rgb(40, 125, 165);
}

.prev:hover,
.next:hover {
    background-color: rgb(39, 41, 68);
    opacity: 1;
}

.mySlides:hover+.prev {
    opacity: 1;
    color: red;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}